
// Mixins

@mixin tablet {
  @media screen and (min-width: #{$tablet-size}) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: #{$desktop-size}) {
    @content;
  }
}

@mixin flexbox($display, $align, $justify, $direction: row) {
  display: $display;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

@mixin appearance {
  -moz-appearance: none;
  -webkit-appearance: none;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
